{% extends 'base-personal.html' %}
{% block personal_content %}
{% load static %}
		<link href="{% static 'css/order/orstyle.css' %}" rel="stylesheet" type="text/css">
					<div class="user-order">

						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>
						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active" data-method="all_order" id="all_order"><a href="#tab1">所有订单</a></li>
								<li data-method="need_pay" id="need_pay"><a href="#tab2">待付款</a></li>
								<li data-method="need_deliver_goods" id="need_deliver_goods"><a href="#tab3">待发货</a></li>
								<li data-method="need_receive_goods" id="need_receive_goods"><a href="#tab4" >待收货</a></li>
								<li data-method="need_evaluation" id="need_evaluation"><a href="#tab5" >待评价</a></li>
							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<div class="order-main">
										<div class="order-list-all">
											<!--所有订单-->
										</div>

									</div>

								</div>
								<div class="am-tab-panel am-fade" id="tab2">

									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list-need-pay">
                                              <!--代付款的订单-->
										</div>

									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab3">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list-need-deliver">
											<!--代发货的订单-->
										</div>
									</div>
								</div>
								<div class="am-tab-panel am-fade" id="tab4">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>

									</div>

									<div class="order-main">
										<div class="order-list-need-receive">
											<!--待收货的订单-->
										</div>
									</div>
								</div>

								<div class="am-tab-panel am-fade" id="tab5">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>

									<div class="order-main">
										<div class="order-list-need-evaluate">
											<!--带评价的订单-->
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
<script>

	layui.use(['flow','layer'],function () {
		let $ = layui.jquery;
		let flow = layui.flow;  // 流加载
        let layer = layui.layer;
        const csrftoken = $.cookie("csrftoken");
        const headers = {'X-CSRFToken':csrftoken};




	 $(function () {
	 	function flows(order_status,dom) {
			flow.load({
				elem: dom,
				done: function (page, next) {
					var list_basic = [];
					var list_details = [];
					$.ajax({
						type: 'GET',
						url: '/order/order-chsc-api/?page=' + page+'&status='+order_status,
						dataType: 'json',
						success: function (data) {
							let max_page = data.page; // 最大页
							let order_data = data.data;  //数据项
							$.each(order_data, function (index, order_basic) {  // 列表对象
								let orderId = order_basic.orderId; // 订单号
								let trade_number = order_basic.trade_number; // 交易单号
								let total_price = order_basic.total_price; // 总价钱
								let commodity_total_counts = order_basic.commodity_total_counts; //总商品数量
								let status = order_basic.status; // 当前订单状态
								let order_details = order_basic.order_details; // 订单中每个商品详情
								let generate_time = order_basic.generate_time;  // 订单成交时间
								var total_freight = 0;                    //总运费


								$.each(order_details, function (index, order_details) {   // 先遍历子结构
									let commodity_counts = order_details.commodity_counts; // 商品数量
									let commodity = order_details.commodity[0];
									let commodity_content = '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<ul class="item-list">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-item">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-pic">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="J_MakePoint">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img src="'+commodity.image+'" class="itempic J_ItemImg">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-info">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-basic-info">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p>' + commodity.category + '</p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="info-little">种类：' + commodity.category + '\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<br/>商品名：' + commodity.commodity_name + '\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<br/>店铺：' + commodity.store_name + ' </p>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-price">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-price">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t' + order_details.price + '\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-number">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-number">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span>×</span>' + commodity_counts + '\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-operation">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-operation">\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
											'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</ul>\n';
									//$(".order-left").append(commodity_content);
									list_details.push(commodity_content);
								});
								let content = '<div class="order-status5">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="order-title">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="dd-num">订单编号：<a href="javascript:;" class="order_id">' + orderId + '</a></div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<span>成交时间：' + generate_time + '</span>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="order-content">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="order-left">\n' +
										list_details.join('') +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="order-right">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-amount">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-amount">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t合计：' + total_price + '\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p>含运费：<span>' + total_freight + '</span></p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="move-right">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-status">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-status">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="Mystatus">' + status + '</p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="order-info"><a href="orderinfo.html">订单详情</a></p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="order-info"><a href="logistics.html">查看物流</a></p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-change">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="am-btn am-btn-danger delete_order" data-method="delete_order">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t删除订单</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</div>';
								//$(".order-list0").append(content);
								list_basic.push(content); // 添加进队列
								list_details = [];
							});
							setTimeout(function () {
								next(list_basic.join(''), page < max_page);
							}, 500);
						},
						error: function () {
							layer.msg('服务器无响应', {icon: 2, time: 1500, closeBtn: 0});
						},
					});
				}
			});
		}

		function delete_order(dom){
	 		let orderId = dom.parents('.order-status5').find(".order_id").text();  // 找到订单号
			let url = '/order/order-chsc-api/';
			let data = {'orderId':orderId};

			layer.confirm('您确定要删除这个订单嘛？', function(index){
				$.ajax({
					type:'DELETE',
					data:data,
					url:url,
					headers:headers,
					success:function (data) {
						if (data.code === 321){
							layer.msg('订单删除成功!',{icon:1,time:1000,closeBtn:0});
							window.location.reload(); //刷新界面
						}
						else if(data.code === -321){
							layer.msg('订单删除失败!',{icon:2,time:1500,closeBtn:0});
						}
					},
					error:function () {
						layer.msg('服务器无相应',{icon:2,time:1500,closeBtn:0});
					}

				});
				layer.close(index);
			});

		}

		$(".order-list-all,.order-list-need-deliver,.order-list-need-evaluate,.order-list-need-pay,.order-list-need-receive").on('click','.delete_order',function () {
			let othis = $(this);
			delete_order(othis);
		});


	 	flows('0','.order-list-all');   // 启动流加载
		let active = {
			all_order:function () {
				flows('0','.order-list-all');
					},
			need_pay:function () {
                flows('1','.order-list-need-pay');
					},
			need_deliver_goods:function () {
                flows('2','.order-list-need-deliver');
					},
			need_receive_goods:function () {
                flows('3','.order-list-need-receive');
					},
			need_evaluation:function () {
                flows('5','.order-list-need-evaluation');
					},
			delete_order:function () {
				alert(3333);
			}
		};

		$("#all_order,#need_evaluation,#need_deliver_goods,#need_receive_goods,#need_evaluation,.delete_order").click(function () {
			let othis = $(this);
			let method = othis.data('method');
			active[method] ? active[method].call(this,othis) : '';
		});
	 });
	});
</script>
{% endblock %}

<!--{% block scriptContent %}-->

<!--{% endblock %}-->
