{% extends 'FirstHead.html' %}
{% block content %}
        {% load static %}
<!--	<head>-->
<!--		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<!--		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">-->

<!--		<title>结算页面</title>-->

<!--		<link href="https://cdn.bootcss.com/amazeui/2.5.1/css/amazeui.css" rel="stylesheet" type="text/css" />-->
<!--		{% load static %}-->
		<link href="{% static 'layui/css/layui.css' %}" rel="stylesheet" type="text/css" >
<!--		<link href="{% static 'css/consumer/demo.css' %}" rel="stylesheet" type="text/css" />-->
		<link href="{% static 'css/consumer/cartstyle.css' %}" rel="stylesheet" type="text/css" />

		<link href="{% static 'css/order/jsstyle.css' %}" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="{% static 'js/order/address.js' %}"></script>
<!--		<script src="{% static 'layui/layui.js' %}"></script>-->
		<script src="https://cdn.staticfile.org/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		   <script type="text/javascript" src="{% static 'js/consumer/jsAddress.js' %}"></script>
			    <script src="{% static 'assets/js/amazeui.js' %}" ></script>


<!--	</head>-->



			<div class="clear"></div>
			<div class="concent">
				<!--地址 -->
				<div class="paycont">
					<div class="address">
						<h3>确认收货地址 </h3>
						<div class="control">
							<div class="tc-btn createAddr theme-login am-btn am-btn-danger">使用新地址</div>
						</div>
						<div class="clear"></div>
						<ul class="concrete_address">
							{% for address in addresses %}
							{% if address.default_address %}
							<div class="per-border"></div>
							<li class="user-addresslist defaultAddr">

								<div class="address-left">
									<div class="user DefaultAddr">
										<small style="display: none" class="pk">{{address.pk}}</small>

										<span class="buy-address-detail">   
                   <span class="buy-user">{{address.recipients}} </span>
										<span class="buy-phone">{{phone}}</span>
										</span>
									</div>
									<div class="default-address DefaultAddr">
										<span class="buy-line-title buy-line-title-type">收货地址：</span>
										<span class="buy--address-detail">
										<span class="province">{{address.region}}</span>
<!--								   <span class="province">湖北</span>省-->
<!--										<span class="city">武汉</span>市-->
<!--										<span class="dist">洪山</span>区-->
<!--										<span class="street">雄楚大道666号(中南财经政法大学)</span>-->
										</span>
									</div>
									<ins class="deftip">默认地址</ins>
								</div>
								<div class="address-right">
									<a href="{% url 'consumer:personal_address' %}">
										<span class="am-icon-angle-right am-icon-lg"></span></a>
								</div>
								<div class="clear"></div>

								<div class="new-addr-btn">
									<small class="address_pk">{{address.pk}}</small>
									<a href="#" class="hidden set_default" data-method="set_default">设为默认</a>
									<span class="new-addr-bar hidden">|</span>
									<a href="/consumer/personal_edit_address/chsc_p={{address.pk}}/?next=/order/personal_order_commit/">编辑</a>
									<span class="new-addr-bar">|</span>
									<a href="javascript:void(0);" class="delete_address" data-method="delete_address">删除</a>
								</div>
							</li>
							{% else %}
							<div class="per-border"></div>
							<li class="user-addresslist">
								<div class="address-left">
									<div class="user DefaultAddr">

										<span class="buy-address-detail">   
                   <span class="buy-user">{{address.recipients}} </span>
										<span class="buy-phone">{{address.phone}}</span>
										</span>
									</div>
									<div class="default-address DefaultAddr">
										<span class="buy-line-title buy-line-title-type">收货地址：</span>
										<span class="buy--address-detail">
										<span class="province">{{address.region}}</span>
<!--								   <span class="province">湖北</span>省-->
<!--										<span class="city">武汉</span>市-->
<!--										<span class="dist">武昌</span>区-->
<!--										<span class="street">东湖路75号众环大厦2栋9层902</span>-->
										</span>
									</div>
									<ins class="deftip hidden">默认地址</ins>
								</div>
								<div class="address-right">
									<span class="am-icon-angle-right am-icon-lg"></span>
								</div>
								<div class="clear"></div>

								<div class="new-addr-btn">
									<small class="address_pk">{{address.pk}}</small>
									<a href="#" class="set_default" data-method="set_default">设为默认</a>
									<span class="new-addr-bar">|</span>
									<a href="/consumer/personal_edit_address/chsc_p={{address.pk}}/?next=/order/personal_order_commit/">编辑</a>
									<span class="new-addr-bar">|</span>
									<a href="javascript:void(0);" class="delete_address" data-method="delete_address">删除</a>
								</div>

							</li>
							{% endif %}
                          {% endfor %}
						</ul>

						<div class="clear"></div>
					</div>
					<!--物流 -->
					<div class="logistics">
						<h3>选择物流方式</h3>
						<ul class="op_express_delivery_hot">
							<li data-value="yuantong" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -468px"></i>圆通<span></span></li>
							<li data-value="shentong" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -1008px"></i>申通<span></span></li>
							<li data-value="yunda" class="OP_LOG_BTN  "><i class="c-gap-right" style="background-position:0px -576px"></i>韵达<span></span></li>
							<li data-value="zhongtong" class="OP_LOG_BTN op_express_delivery_hot_last "><i class="c-gap-right" style="background-position:0px -324px"></i>中通<span></span></li>
							<li data-value="shunfeng" class="OP_LOG_BTN  op_express_delivery_hot_bottom"><i class="c-gap-right" style="background-position:0px -180px"></i>顺丰<span></span></li>
						</ul>
					</div>
					<div class="clear"></div>

					<!--支付方式-->
					<div class="logistics">
						<h3>选择支付方式</h3>
						<ul class="pay-list">
							<li class="pay card"><img src="https://django-e-mall.oss-cn-shanghai.aliyuncs.com/wangyin.jpg" />银联<span></span></li>
							<li class="pay qq"><img src="https://django-e-mall.oss-cn-shanghai.aliyuncs.com/weizhifu.jpg" />微信<span></span></li>
							<li class="pay taobao"><img src="https://django-e-mall.oss-cn-shanghai.aliyuncs.com/zhifubao.jpg" />支付宝<span></span></li>
						</ul>
					</div>
					<div class="clear"></div>

					<!--订单 -->
					<div class="concent">
						<div id="payTable">
							<h3>确认订单信息</h3>
							<div class="cart-table-th">
								<div class="wp">

									<div class="th th-item">
										<div class="td-inner">商品信息</div>
									</div>
									<div class="th th-price">
										<div class="td-inner">单价</div>
									</div>
									<div class="th th-amount">
										<div class="td-inner">数量</div>
									</div>
									<div class="th th-sum">
										<div class="td-inner">金额</div>
									</div>
									<div class="th th-oplist">
										<div class="td-inner">配送方式</div>
									</div>

								</div>
							</div>
							<div class="clear"></div>
							<div class="goods-content">

							</div>
							<div class="clear"></div>
							<div class="pay-total">
						<!--留言-->
							<div class="order-extra">
								<div class="order-user-info">
									<div id="holyshit257" class="memo">
										<label>买家留言：</label>
										<input type="text" title="选填,对本次交易的说明（建议填写已经和卖家达成一致的说明）" placeholder="选填,建议填写和卖家达成一致的说明" class="memo-input J_MakePoint c2c-text-default memo-close">
										<div class="msg hidden J-msg">
											<p class="error">最多输入500个字符</p>
										</div>
									</div>
								</div>

							</div>
							<!--优惠券 -->
							<div class="buy-agio">
								<li class="td td-coupon">

									<span class="coupon-title">优惠券</span>
									<select data-am-selected>
										<option value="a">
											<div class="c-price">
												<strong>￥8</strong>
											</div>
											<div class="c-limit">
												【消费满95元可用】
											</div>
										</option>
										<option value="b" selected>
											<div class="c-price">
												<strong>￥3</strong>
											</div>
											<div class="c-limit">
												【无使用门槛】
											</div>
										</option>
									</select>
								</li>

								<li class="td td-bonus">

									<span class="bonus-title">红包</span>
									<select data-am-selected>
										<option value="a">
											<div class="item-info">
												¥50.00<span>元</span>
											</div>
											<div class="item-remainderprice">
												<span>还剩</span>10.40<span>元</span>
											</div>
										</option>
										<option value="b" selected>
											<div class="item-info">
												¥50.00<span>元</span>
											</div>
											<div class="item-remainderprice">
												<span>还剩</span>50.00<span>元</span>
											</div>
										</option>
									</select>

								</li>

							</div>
							<div class="clear"></div>
							</div>
							<!--含运费小计 -->
							<div class="buy-point-discharge ">
								<p class="price g_price ">
									合计（含运费） <span>¥</span><em class="pay-sum"></em>
								</p>
							</div>

							<!--信息 -->
							<div class="order-go clearfix">
								<div class="pay-confirm clearfix">
									<div class="box">
										<div tabindex="0" id="holyshit267" class="realPay"><em class="t">实付款：</em>
											<span class="price g_price ">
                                    <span>¥</span> <em class="style-large-bold-red " id="J_ActualFee"></em>
											</span>
										</div>

										<div id="holyshit268" class="pay-address">
											{% for address in addresses %}
					                           {% if address.default_address %}
											<p class="buy-footer-address">
												<span class="buy-line-title buy-line-title-type">寄送至：</span>
												<span class="buy--address-detail">
													<span class="province">{{address.region}}</span>
<!--								   <span class="province">湖北</span>省-->
<!--												<span class="city">武汉</span>市-->
<!--												<span class="dist">洪山</span>区-->
<!--												<span class="street">雄楚大道666号(中南财经政法大学)</span>-->
												</span>
											</p>
											<p class="buy-footer-address">
												<span class="buy-line-title">收货人：</span>
												<span class="buy-address-detail">   
                                         <span class="buy-user">{{address.recipient}} </span>
												<span class="buy-phone">{{address.phone}}</span>
												</span>
											</p>
												{% endif %}
				                      	{% endfor %}
										</div>
									</div>

									<div id="holyshit269" class="submitOrder">
										<div class="go-btn-wrap">
											<a id="J_Go" href="#" class="btn-go commit_order" tabindex="0" title="点击此按钮，提交订单" data-method="commit_order">提交订单</a>
										</div>
									</div>
									<div class="clear"></div>
								</div>
							</div>
						</div>

						<div class="clear"></div>
					</div>
				</div>

			<div class="theme-popover-mask"></div>
			<div class="theme-popover">

				<!--标题 -->
				<div class="am-cf am-padding">
					<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add address</small></div>
				</div>
				<hr/>

				<div class="am-u-md-12">
					<form class="am-form am-form-horizontal" data-am-validator="">

						<div class="am-form-group">
								<label for="recipients" class="am-form-label">收货人</label>
								<div class="am-form-content">
								     <input type="text" id="recipients" placeholder="收货人" required maxlength="15">
								</div>
						</div>

						<div class="am-form-group">
								<label for="phone" class="am-form-label">手机号码</label>
								<div class="am-form-content">
									<input id="phone" placeholder="手机号必填" type="text" required maxlength="11" minlength="11" pattern="^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$">
								</div>
						</div>

						<div class="am-form-group">
							<label for="user-address" class="am-form-label">所在地</label>
							<div class="am-form-content address">
										<select data-am-selected="{searchBox:1,maxHeight:200}" id="area">
										</select>
										<select data-am-selected="{searchBox:2,maxHeight:200}" id="province">
										</select>
										<select data-am-selected="{searchBox:3,maxHeight:200}" id="city">
										</select>
										<select data-am-selected="{searchBox:4,maxHeight:200}" id="dist">
										</select>
							</div>
						</div>

						<div class="am-form-group">
								<label for="intro" class="am-form-label">详细地址</label>
									<div class="am-form-content">
									<textarea class="" rows="3" id="intro" placeholder="输入详细地址" required maxlength="50"></textarea>
									<small class="detail-address-tip">请写出你的详细地址，具体到街道</small>
									</div>
						</div>
						<div class="am-form-group layui-form" data-am-validator>
								<label class="am-form-label">地址标签</label>
								<div class="layui-input-block">
								<input type="radio" id="family" name="address_tags" value="1" title="家">
								<input type="radio" id="company" name="address_tags" value="2" title="公司">
								<input type="radio" id="school" name="address_tags" value="3" title="学校">
								</div>
						</div>

						<div class="am-form-group theme-poptit">
							<div class="am-u-sm-9 am-u-sm-push-3">
								<a class="am-btn am-btn-danger" data-method="add_address" id="add_address">保存</a>
								<div class="am-btn am-btn-danger close">取消</div>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="clear"></div>
	</body>
<script type="text/javascript">
    addressInit('area','province','city','dist','华北地区', '北京', '市辖区', '东城区');
    //addressInit('Select1', 'Select2', 'Select3');
</script>
<script>

         layui.use(['layer','form'],function () {
			 let $ = layui.jquery;
			 let layer = layui.layer;
			 let form = layui.form;
			 const csrftoken = $.cookie("csrftoken");
             const headers = {'X-CSRFToken':csrftoken};

			 $(function () {
			 	$.ajax({
					type:'GET',
					url:'/order/get-order-commodity-chsc-api/',
					headers:headers,
					success:function (data) {
						let list_commodity_contents = [];
						let total_prices = 0;
						$.each(data, function (index, commodity) {
								let good_id = commodity.id;   //商品id
								let commodity_name = commodity.commodity_name;  //商品名
								let price = commodity.price;  // 原价
								let intro = commodity.intro;   // 简要描述
								let category = commodity.category;  // 简要描述
								let freight = commodity.freight;   // 运费
								let image = commodity.image;  // 商品主图片
								let counts = commodity.counts;  // 对应商品数量
							    let stock = commodity.stock;   //库存
								let total_price = commodity.total_price;   // 打折后的商品价格 = 商品数量*优惠后的单价
								let discounts_intro = commodity.discounts_intro; // 该商品优惠活动
								let commodity_content = '<div class="bundle  bundle-last">\n' +
										'\n' +
										'\t\t\t\t\t\t\t\t\t<div class="bundle-main">\n' +
										'\t\t\t\t\t\t\t\t\t\t<ul class="item-content clearfix">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t<div class="pay-phone">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-item">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-pic">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="J_MakePoint">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img src="'+image+'" class="itempic J_ItemImg"></a>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-info">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-basic-info">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="item-title J_MakePoint" data-point="tbcart.8.11">'+commodity_name+' '+intro+'</a>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-info">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-props">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="sku-line">类型：'+category+'</span>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="sku-line">商品优惠说明：'+discounts_intro+'</span>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-price">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-price price-promo-promo">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="price-content">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<em class="J_Price price-now">'+price+'</em>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t<li class="td td-amount">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="amount-wrapper ">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-amount ">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="phone-title">购买数量</span>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="sl">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<em class="counts" style="width:30px;">'+counts+'</em>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t<li class="td td-sum">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="td-inner">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<em tabindex="0" class="J_ItemSum number">'+total_price+'</em>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t<li class="td td-oplist">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="td-inner">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="phone-title">配送方式</span>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="pay-logis">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t快递<b class="sys_item_freprice">'+freight+'</b>元\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\n' +
										'\t\t\t\t\t\t\t\t\t\t</ul>\n' +
										'\t\t\t\t\t\t\t\t\t\t<div class="clear"></div>\n' +
										'\n' +
										'\t\t\t\t\t\t\t\t\t</div>';
								list_commodity_contents.push(commodity_content);
								total_prices = total_prices + parseInt(total_price)+parseInt(freight);

						});
						//alert(list_commodity_contents.join(''));
						$(".goods-content").append(list_commodity_contents.join(''));   // 填充商品
						$("#J_ActualFee").text(total_prices);  // 计算实付款
						$(".pay-sum").text(total_prices);   // 计算含运费

					},
					error:function () {
						layer.msg('服务器响应失败!',{icon:2,time:1500,closeBtn:0});
					}
				});

			 	let active = {
					set_default: function () {
						let othis = $(this);
						layer.load(0, {time: 2000});
						let url = '/consumer/address-operation-chsc-api/';
						let pk = othis.siblings('.address_pk').text();
						let data = {'pk': pk, 'way': 'default'};
						$.ajax({
							type: 'PUT',
							url: url,
							data: data,
							dataType: 'json',
							headers: headers,
							success: function (data) {
								if (data.code === 42) {
									layer.msg('默认地址更换成功!');
									othis.parent('.user-addresslist').addClass("defaultAddr").siblings().removeClass("defaultAddr"); // 一条语句执行多个动作
								} else if (data.code === -42) {
									layer.msg('默认地址更换失败！', {icon: 2, time: 1500, closeBtn: 0});
								}
							},
							error: function () {
								layer.msg('服务器无响应！', {icon: 2, time: 1500, closeBtn: 0});
							}
						});
						layer.closeAll('loading');
					},
					delete_address: function() {
						let othis = $(this);
						let pk = othis.siblings('.address_pk').text();
						let url = '/consumer/address-operation-chsc-api/';
						let data = {
							'pk': pk,
							'way': 'delete'
						};
						layer.confirm('确定要删除嘛？', {icon: 7, title: '提示'}, function (index) {
							$.ajax({
								type: 'DELETE',
								url: url,
								data: data,
								headers: headers,
								success: function (data) {
									if (data.code === 55) {
										layer.close(index);
										layer.msg('地址删除成功!', {icon: 2, time: 1500, closeBtn: 0});
										layer.close(index);
										window.location.reload();   // 刷新
									} else if (data.code === -55) {
										layer.msg('删除地址失败!', {icon: 2, time: 1500, closeBtn: 0});
									}
								},
								error: function () {
									layer.msg('服务器无响应!', {icon: 2, time: 1500, closeBtn: 0});
								}
							});
						});
					},
					add_address: function () {  // 增加地址
						let recipients = $("#recipients").val().trim();
						let phone = $("#phone").val();
						let area = $("#area").val().trim();
						let province = $("#province").val().trim();
						let city = $("#city").val().trim();
						let dist = $("#dist").val().trim();
						let intro = $("#intro").val().trim();
						let address_tags = $('input:radio[name="address_tags"]:checked').val();
						let region_list = [];
						region_list.push(area);
						region_list.push(province);
						region_list.push(city);
						region_list.push(dist);
						region_list.push(intro);
						let region = region_list.join('-');
						if (recipients === '') {
							layer.msg('请填写收货人', {icon: 7, time: 1200, closeBtn: 0});
						} else if (phone === '') {
							layer.msg('请填写手机号', {icon: 7, time: 1200, closeBtn: 0});
						} else if (intro === '') {
							layer.msg('请填写详细的信息', {icon: 7, time: 1200, closeBtn: 0});
						} else if (address_tags === undefined) {
							layer.msg('请选择地址标签', {icon: 7, time: 1200, closeBtn: 0});
						} else {
							layer.load(0, {time: 10000});
							let url = '/consumer/address-operation-chsc-api/';
							let data = {
								'recipients': recipients,
								'phone': phone,
								'region': region,
								'address_tags': address_tags,
								'way': 'add',
							};
							$.ajax({
								type: 'POST',
								data: data,
								url: url,
								headers: headers,
								success: function (data) {
									if (data.code === 35) {
										layer.msg('地址添加成功!', {icon: 1, time: 1200, closeBtn: 0});
										setTimeout(function () {
											window.location.reload();
										},1000);
									} else if (data.code === -35) {
										layer.msg('地址添加失败!', {icon: 2, time: 1500, closeBtn: 0});
									}
								},
								error: function () {
									layer.msg('服务器无响应!', {icon: 2, time: 1500, closeBtn: 0});
								}
							});
							$(document.body).css("overflow","visible");
					        $('.theme-login').removeClass("selected");
					        $('.item-props-can').removeClass("selected");
					        $('.theme-popover-mask').hide();
					        $('.theme-popover').slideUp(200);
							layer.closeAll('loading');
						}
					},

					// 提交订单
					commit_order: function () {
						layer.load(0,{time:2000});
						// let store_id = '';
						// let goods_id = '';
						// let region = $(".pk").text();
						// let data = JSON.stringify();
						let url = '/payment/payment-chsc-api/';
						$.ajax({
							type:'GET',
							url:url,
							headers:headers,
							beforeSend: function (req) {
								req.setRequestHeader('Content-Type','application/json')
							},
							success:function (data) {
								if (data.code === 356){
									url = data.alipay_url;
									window.location.href = url;
								}else if(data.code === -356){
									layer.msg('提交订单失败!', {icon: 2, time: 1500, closeBtn: 0});
								}

							},
							error:function () {
								layer.msg('服务器无响应!', {icon: 2, time: 1500, closeBtn: 0});
							}
						})

					}
				};

				$(".set_default,.delete_address,#add_address,.commit_order").click(function () {
					 let othis = $(this);
	                 let method = othis.data('method');
	                 active[method] ? active[method].call(this,othis) : '';
				})
	          });




		 });
</script>
{% endblock %}