<div class="am-modal am-modal-no-btn" id="add-modal-address" >
							<div class="add-dress">

								<!--标题 -->
								<div class="am-cf am-padding">
									<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add&nbsp;address</small></div>
								</div>
								<hr/>

								<div class="am-u-md-12 am-u-lg-8" style="margin-top: 20px;">
									<form class="am-form am-form-horizontal" data-am-validator="">

										<div class="am-form-group">
											<label for="recipients" class="am-form-label">收货人</label>
											<div class="am-form-content">
												<input type="text" id="recipients" placeholder="收货人" required maxlength="15">
											</div>
										</div>

										<div class="am-form-group">
											<label for="phone" class="am-form-label">手机号码</label>
											<div class="am-form-content">
												<input id="phone" placeholder="手机号必填" type="text" required maxlength="11" minlength="11" pattern="^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$">
											</div>
										</div>

										<div class="am-form-group">
											<label for="user-address" class="am-form-label">所在地</label>
											<div class="am-form-content address" style="float: left">
												<select data-am-selected="{searchBox:1,maxHeight:200}" width="20px" id="area">
												</select>
												<select data-am-selected="{searchBox:2,maxHeight:200}" id="province">
												</select>
												<select data-am-selected="{searchBox:3,maxHeight:200}" id="city">
												</select>
												<select data-am-selected="{searchBox:4,maxHeight:200}" id="dist">
												</select>
											</div>

										</div>
										<div class="am-form-group">
											<label for="intro" class="am-form-label">详细地址</label>
											<div class="am-form-content">
												<textarea class="" rows="3" id="intro" placeholder="输入详细地址" required maxlength="50"></textarea>
												<small class="detail-address-tip">请写出你的详细地址，具体到街道</small>
											</div>
										</div>

										<div class="am-form-group layui-form" data-am-validator>
											<label class="am-form-label">地址标签</label>
											<div class="layui-input-block">
												<input type="radio" id="family" name="address_tags" value="1" title="家">
												<input type="radio" id="company" name="address_tags" value="2" title="公司">
												<input type="radio" id="school" name="address_tags" value="3" title="学校">
											</div>
										</div>

										<div class="am-form-group">
											<div class="am-u-sm-9 am-u-sm-push-3">
												<a class="am-btn am-btn-danger" data-method="add_address" id="add_address">保存</a>
												<a href="javascript: void(0)" class="am-close am-btn am-btn-danger" data-am-modal-close>取消</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
