{% extends 'base-personal.html' %}
{% block personal_content %}
{% load static %}
<link href="{% static 'css/consumer/addstyle.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/consumer/jsAddress.js' %}"></script>
<div class="" id="add-modal-address" >
							<div class="add-dress">
								<!--标题 -->
								<div class="am-cf am-padding">
									<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">修改地址</strong> / <small>Modify&nbsp;address</small></div>
								</div>
								<hr/>

								<div class="am-u-md-12 am-u-lg-8" style="margin-top: 20px;">
									<form class="am-form am-form-horizontal" data-am-validator>

										<div class="am-form-group">
											<label for="recipients" class="am-form-label">收货人</label>
											<div class="am-form-content_address">
												<input type="text" id="recipients" placeholder="收货人" required maxlength="15" value="{{address.recipients}}">
											</div>
										</div>

										<div class="am-form-group">
											<label for="phone" class="am-form-label">手机号码</label>
											<div class="am-form-content_address">
												<input id="phone" placeholder="手机号必填" type="text" required maxlength="11" minlength="11" pattern="^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$" value="{{address.phone}}">
											</div>
										</div>

										<div class="am-form-group">
											<label for="user-address" class="am-form-label">所在地</label>
											<div class="am-form-content_address address">
												<select data-am-selected="{searchBox:1,maxHeight:200}" id="area">
												</select>
												<select data-am-selected="{searchBox:2,maxHeight:200}" id="province">
												</select>
												<select data-am-selected="{searchBox:3,maxHeight:200}" id="city">
												</select>
												<select data-am-selected="{searchBox:4,maxHeight:200}" id="dist">
												</select>
											</div>

										</div>
										<div class="am-form-group">
											<label for="intro" class="am-form-label">详细地址</label>
											<div class="am-form-content_address">
												<textarea class="" rows="3" id="intro" placeholder="输入详细地址" required maxlength="50">{{intro}}</textarea>
												<small class="detail-address-tip">请写出你的详细地址，具体到街道</small>
											</div>
										</div>

										<div class="am-form-group layui-form" data-am-validator>
											<label class="am-form-label">地址标签</label>
											<div class="layui-input-block">
												<input type="radio" id="family" name="address_tags" value="1" title="家">
												<input type="radio" id="company" name="address_tags" value="2" title="公司">
												<input type="radio" id="school" name="address_tags" value="3" title="学校">
											</div>
										</div>

										<div class="am-form-group">
											<div class="am-u-sm-9 am-u-sm-push-3">
												<a class="am-btn am-btn-danger" data-method="modify_address" id="modify_address">保存</a>
												<a href="javascript: void(0)" class="am-close am-btn am-btn-danger fallback" data-method="fallback">返回</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
<script type="application/javascript">
    addressInit('area','province','city','dist','{{area}}', '{{province}}', '{{city}}', '{{dist}}');
    //addressInit('Select1', 'Select2', 'Select3');
    let address_tags = $("input:radio[name='address_tags'][value='{{address.address_tags}}']");
    address_tags.prop("checked",true);
</script>

{% endblock %}

{% block scriptContent %}
modify_address: function () {
			let recipients = $("#recipients").val().trim();
			let phone = $("#phone").val();
			let area = $("#area").val().trim();
			let province = $("#province").val().trim();
			let city = $("#city").val().trim();
			let dist = $("#dist").val().trim();
			let intro = $("#intro").val().trim();
			let address_tags = $('input:radio[name="address_tags"]:checked').val();
			let region_list = [];
			region_list.push(area);
			region_list.push(province);
			region_list.push(city);
			region_list.push(dist);
			region_list.push(intro);
			let region = region_list.join('-');
			if (recipients === '') {
				layer.msg('请填写收货人', {icon: 7, time: 1200, closeBtn: 0});
			} else if (phone === '') {
				layer.msg('请填写手机号', {icon: 7, time: 1200, closeBtn: 0});
			} else if (intro === '') {
				layer.msg('请填写详细的信息', {icon: 7, time: 1200, closeBtn: 0});
			} else if (address_tags === undefined) {
				layer.msg('请选择地址标签', {icon: 7, time: 1200, closeBtn: 0});
			} else {
				layer.load(0, {time: 10000});
				let url = '/consumer/address-operation-chsc-api/';
				let data = {
					'recipients': recipients,
					'phone': phone,
					'region': region,
					'address_tags': address_tags,
					'way':'edit',
				};
				$.ajax({
					type: 'PUT',
					data: data,
					url: url,
					headers: headers,
					success: function (data) {
						if (data.code === 56) {
							layer.msg('修改地址成功!', {icon: 1, time: 1000, closeBtn: 0});
						} else if (data.code === 500) {
							layer.msg('服务器无响应!', {icon: 2, time: 1200, closeBtn: 0});
						}
					},
					error: function () {
						layer.msg('服务器无响应!', {icon: 2, time: 1200, closeBtn: 0});
					}
				});
				layer.closeAll('loading');
			}
		},
        fallback: function () {
            window.location.href = '/consumer/personal_address/';
        }
{% endblock %}
