{% extends 'base-personal.html' %}
{% block personal_content %}
{% load static %}
<link href="{% static 'css/consumer/stepstyle.css' %}" rel="stylesheet" type="text/css">
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">修改密码</strong> / <small>Password</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">重置密码</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal" data-am-validator>
						<div class="am-form-group">
							<label for="user-old-password" class="am-form-label">原密码</label>
							<div class="am-form-content">
								<input type="password" id="user-old-password" placeholder="请输入原登录密码" required>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-new-password" class="am-form-label">新密码</label>
							<div class="am-form-content">
								<input type="password" id="user-new-password" placeholder="请输入8-25位之间的密码，只由数字、字母组合" minlength="8" maxlength="25" required>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-confirm-password" class="am-form-label">确认密码</label>
							<div class="am-form-content">
								<input type="password" id="user-confirm-password" placeholder="请输入8-25位之间的密码，只由数字、字母组合" minlength="8" maxlength="25" required>
							</div>
						</div>
						<div class="info-btn">
							<div class="am-btn am-btn-danger" data-method="password_change" id="password_change">保存修改</div>
						</div>
					</form>
{% endblock %}

{% block scriptContent %}
//修改密码
	password_change: function () {
		let old_password = $("#user-old-password").val();
		let new_password = $("#user-new-password").val();
		let new_password_repeat = $("#user-confirm-password").val();
        if (old_password === '' || new_password === '' || new_password_repeat === ''){
            layer.msg('请将信息填写完整！',{icon:7,time:1200,closeBtn: 0});
        }
        else if (new_password != new_password_repeat){
                layer.msg('两次密码不同！',{icon:7,time:1200,closeBtn: 0});
        }
        else if (old_password == new_password || old_password == new_password_repeat){
                layer.msg('原密码和新密码不能相同！',{icon:7,time:1200,closeBtn: 0});
        }
		else{
            let data = {'old_password':old_password,'new_password':new_password};
	     	let url = '/consumer/password-changes-chsc-api/';
			layer.load(0,{time:10000});
			$.ajax({
				type: 'POST',
				data: data,
				url: url,
				headers: headers,
				success: function (data) {
					if (data.code === 61){
						layer.msg('修改密码成功！',{icon:1,time:1000,closeBtn: 0});
                        $(".step-2").children().children().css({"opacity":1});
					}
					else if (data.code === -60){
						layer.msg('原密码不正确！',{icon:2,time:1200,closeBtn: 0});
					}
					else if (data.code === 500 ){
						layer.msg('服务器无响应',{icon:2,time:1200, closeBtn: 0});
					}
					else if (data.code === -6 ){
						layer.msg('原密码错误',{icon:2,time:1200, closeBtn: 0});
					}
				},
				error: function () {
					layer.msg('服务器无响应',{icon:2,time:1200,closeBtn:0});
				}
			});
            $("#user-old-password").val('');
            $("#user-new-password").val('');
            $("#user-confirm-password").val('');
            layer.closeAll('loading');
		}
	},
{% endblock %}