{% extends 'base-personal.html' %}
{% block personal_content %}
{% load static %}
<link href="{% static 'css/consumer/stepstyle.css' %}" rel="stylesheet" type="text/css">
					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">设置安全问题</strong> / <small>Set&nbsp;Safety&nbsp;Question</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">设置安全问题</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal">
						<div class="am-form-group select">
							<label for="user-question1" class="am-form-label">问题一</label>
							<div class="am-form-content">
								<select data-am-selected id="user-question1">
									<option value="1" selected>请选择安全问题</option>
									<option value="2">您最喜欢的颜色是什么？</option>
									<option value="3">您的故乡在哪里？</option>
									<option value="4">您的父亲的名字？</option>
									<option value="5">您的母亲的名字？</option>
									<option value="6">您童年最好的伙伴？</option>
								</select>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-answer1" class="am-form-label">答案</label>
							<div class="am-form-content">
								<input type="text" id="user-answer1" placeholder="请输入安全问题答案">
							</div>
						</div>
						<div class="am-form-group select">
							<label for="user-question2" class="am-form-label">问题二</label>
							<div class="am-form-content">
								<select data-am-selected id="user-question2">
									<option value="1" selected>请选择安全问题</option>
									<option value="2">您最喜欢的一款玩具？</option>
									<option value="3">您的母亲的名字？</option>
									<option value="4">您最喜欢吃的一道菜名？</option>
									<option value="5">你最爱的人？</option>
									<option value="6">您现在工作地？</option>
								</select>
							</div>
						</div>
						<div class="am-form-group">
							<label for="user-answer2" class="am-form-label">答案</label>
							<div class="am-form-content">
								<input type="text" id="user-answer2" placeholder="请输入安全问题答案">
							</div>
						</div>
						<div class="info-btn">
							<div class="am-btn am-btn-danger" data-method="save-safety-question" id="save_safety_question">保存修改</div>
						</div>
					</form>
{% endblock %}

{% block scriptContent %}
<script>
	const active = {
		save_safety_question:function () {
			let initial = $("#user-answer1 option:first").val();
			let question1 = $("#user-question1 option:selected").val();
			let question2 = $("#user-answer2 option:selected").val();
			let answer1 = $("#user-answer1").val();
			let answer2 = $("#user-answer2").val();
			if (question1 === initial && question2 === initial){
				layer.msg('请选中正确的问题！',{icon:7,time:1200,closeBtn:0});
			}
			else if(answer1 === '' || answer2 === ''){
				layer.msg('请填写相应的密保！',{icon: 7,time:1200,closeBtn: 0});
			}
			else{
				layer.load(0,{time:10000});
				let data = {'question1':question1,'question2':question2,'answer1':answer1,'answer2':answer2};
				let url = '/consumer/secret-security-chsc-api/';
				$.ajax({
					type:'POST',
					url:url,
					data:data,
					headers:headers,
					success:function (data) {
						if (data.code === 17){
							layer.msg('密保设置成功！',{icon:1,time:1000,closeBtn:0});
						}
						else if(data.code === 500){
							layer.msg('服务器无响应！',{icon:2,time:1200,closeBtn:0});
						}
					},
					error:function () {
						layer.msg('服务器无响应！',{icon:2,time:1200,closeBtn:0});
					}
				});
				layer.closeAll('loading');
			}
		}
	}

</script>
{% endblock %}