{% extends 'base-personal.html' %}
{% block personal_content %}
{% load static %}
<link href="{% static 'css/consumer/cmstyle.css' %}" rel="stylesheet" type="text/css">
					<div class="user-comment">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">评价管理</strong> / <small>Manage&nbsp;Comment</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-2 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有评价</a></li>
								<li><a href="#tab2">有图评价</a></li>

							</ul>

							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">

									<div class="comment-main">
										<div class="comment-list">

										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
<script>
	layui.use('flow',function () {
		let $ = layui.$;
		let flow = layui.flow;

		$(function () {
			flow.load({
				elem: '.comment-list',  // 容器dom
				done: function (page, next) {
					let list_favorites = [];
					$.ajax({
						type: 'GET',
						url: '/remark/remark-operation-chsc-api/?page=' + page,
						dataType: 'json',
						success: function (data) {
							let max_page = data.page;
							let evaluation = data.data;
							$.each(evaluation,function (index,value) {
								let grade = value.grade;  // 评价评分
								let commodity_name = value.commodity_name; //商品名
								let price = value.price; // 商品价格
								let reward_time = value.reward_time;   // 回复时间
								let reward_content = value.reward_content; // 回复内容
								let category = value.category; //商品种类
								let image = value.image;  // 图片
								let content =
										'<ul class="item-list">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="comment-top">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="th th-price">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="td-inner">评价</td>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="th th-item">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="td-inner">商品</td>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\t\t\t\t\t\t\t\t\t\t\t\t\t\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-item">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-pic">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="J_MakePoint">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img src="'+image+'" class="itempic">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-comment">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-title">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-opinion">'+grade+'</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-name">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="item-basic-info">'+commodity_name+'</p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-comment">\n' + reward_content +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-info">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="info-little"><span>商品种类：'+category+'</span><span>商品原价：'+price+'</span> </p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="info-time">'+reward_time+'</p>\n' +
										'\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</ul>';
										'\t\t\t\t\t\t\t\t\t\t\t<ul class="item-list">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<div class="comment-top">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="th th-price">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="td-inner">评价</td>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="th th-item">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<td class="td-inner">商品</td>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\t\t\t\t\t\t\t\t\t\t\t\t\t\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-item">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-pic">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="J_MakePoint">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<img src="'+image+'" class="itempic">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t<li class="td td-comment">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-title">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-opinion">'+grade+'</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-name">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="item-basic-info">'+commodity_name+'</p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-comment">\n' + reward_content +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="item-info">\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<div class="info-little"><span class="item-style">商品种类：'+category+'</span>&nbsp;&nbsp;<span class="item-style">商品原价：'+price+'</brspan></p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<p class="info-time">'+reward_time+'</p>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
										'\t\t\t\t\t\t\t\t\t\t\t</ul>\n';

								list_favorites.push(content);
							});
							setTimeout(function () {
								next(list_favorites.join(''),page<max_page);  // 这里的最大2后期换成page
							},500);
						},
						error: function () {
							layer.msg('服务器无响应！', {icon: 2, time: 1200, closeBtn: 0});
						}
					});
				}
			});
		});
	});
</script>
{% endblock %}